# ------------- general options ----------------------------------------
save_path = "/home/liujing/NFS/ICCV_challenge/xz_log/iccv_emore_log_gdc/baseline/mobilefacenet/2stage/dim128/qqc_sq_finetune/" # log path
data_path = "/mnt/ssd/faces/iccv_challenge/train/ms1m-retinaface-t1" # path for dataset folder
dataset = "iccv_ms1m"  # options: imagenet | cifar10
seed = 1  # manually set RNG seed
gpu = "3,6"  # GPU id to use, e.g. "0,1,2,3"
print_frequency = 10

# ------------- data options -------------------------------------------
n_threads = 8  # number of threads used for data loading
n_classes = 0  # number of classes in the dataset

# ------------- common optimization options ----------------------------
batch_size = 256  # mini-batch size
momentum = 0.9  # momentum
weight_decay = 4e-5  # weight decay
lr = 0.0001  # initial learning rate
n_epochs = 12  # number of total epochs
step = []  # multi-step for linear learning rate
warmup_n_epochs = 0  # number of warm up epochs
warmup_lr = 0.01  # warm up learning rate
cos_lr = True

# ------------- model options ------------------------------------------
net_type = "mobilefacenet_v1_p0.5"  # options: resnet | preresnet
depth = 0                           # resnet depth: (n-2)%6==0
embed_size = 128
experiment_id = "p0.5_our_sq_then_qqc_sq_finetune_20190913"     # experiment identifier
table_path = "/home/liujing/NFS/ICCV_challenge/xz_log/iccv_emore_log_gdc/baseline/mobilefacenet/2stage/dim128/qqc_sq_finetune/iccv_mobilefacenet_p0.5_our_sq_activation.table"

# ------------- resume or retrain options ------------------------------
# dcp_0.5_our_sq_finetune_checkpoint17
pretrained = "/home/liujing/NFS/ICCV_challenge/xz_log/iccv_emore_log_gdc/baseline/mobilefacenet/2stage/dim128/quantization/log_aux_mobilefacenetv2_baseline_0.5width_without_fc_128_arcface_iccv_emore_bs384_e18_lr0.001_step[]_without_fc_cosine_quantization_finetune_20190811/check_point/checkpoint_017.pth"
resume = "" # resume checkpoint